{% extends 'common/base.html' %}

{% block title %}Associations {{ super }}{% endblock %}

{% block content %}
	<div id="banner" style="background-image: url('{{ asso.banner.url }}');">
		<div class="logo-wrapper" >
			<img class="logo responsive-img" src="{{ asso.logo.url }}"/>
		</div>
	</div>
	<div class="container">
		<h3 id="name-asso">{{ asso.name }}</h3>

		<hr style="width:80%; margin-bottom: 20px"/>

		<div id="info-asso-grid">
			<div id="info-column">
				<div id="info-title">
					<h5>Informations pratique</h5>
				</div>
				<div id="info-description">
					<p>Local : {{ asso.room }}</p>

					{% if asso.subscription_cost > 0 %}
						<p>Cotisation : {{ asso.subscription_cost }}€</p>
					{% else %}
						<p>Inscription gratuite</p>
					{% endif %}
				</div>
			</div>
			<div id="desc-column">
				<div id="desc-title">
					<h5>Description</h5>
				</div>
				<div id="desc-description">
					<p>{{ asso.description }}</p>
				</div>
			</div>
			<div id="event-column">
				<div id="event-title">
					<h5>Évènements</h5>
				</div>
				<div id="event-description">
					<p>Ceci est l'endroit où une liste d'événements très intéressants auxquels il faut participer</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
