{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Le réseau social étudiant de l'EISTI">
        <meta name="keywords" content="EISTI, Social, Réseau">

       <title>{% block title %}{% endblock title %} | Eistiens.net</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/normalize.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/styles.css" %}"/>

        {% block css %}{% endblock %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>

    <body class="grey lighten-3">

        {% include 'common/navbar.html' %}

        {% if request.user.is_authenticated %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}<br/>
                    {# TODO: Make better message apparition #}
                {% endfor %}
            {% endif %}
        {% endif %}

        <main>
            <div class="container" style="min-width:100%">
                {% block content %}{% endblock content %}
            </div>
        </main>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.eistiens.net","*.www.eistiens.net"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.atilla.org/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '4']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript';
                g.async=true;
                g.defer=true;
                g.src=u+'piwik.js';
                s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p><img src="//piwik.atilla.org/piwik.php?idsite=4" style="border:0;" alt="" /></p>
        </noscript>
        <!-- End Piwik Code -->
    </body>
</html>
