@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-SemiBold.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-SemiBoldItalic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Italic.ttf')  format('truetype');
    font-style: italic;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Cabin', sans;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans;
	font-weight: lighter;
}

.flex-center{
	display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 60%;
    height: 60%;
}

.flexbox-columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-columns > #panel {
	width: 70%;
	padding: 5em;
}

.flexbox-columns > #login-img {
	width: 30%;
}

#login-img{
	background-image: url("/static/img/login.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 1393px) {
	main{
	    width: 80%;
	}
}

@media screen and (max-width: 1393px) and (orientation:portrait) {
	main{
		height: 70%;
	}
}

@media screen and (max-width: 1393px) and (orientation:landscape) {
 	main{
		height: 90%;
	}
}

@media screen and (max-width: 756px) {
	.flex-center{
		display: block;
		width: 100%;
		height: 100%;
	}

	main{
	    width: 100%;
		height: 100%;
	}

	.flexbox-columns {
		display: block;
	}

	.flexbox-columns > #login-img {
		display: none
	}

	.flexbox-columns > #panel {
		margin: 0 !important;
		padding: 2em;
		width: 100%;
		height: 100%;
	}
}

/* Ugly hack  to solve layout break when Android's soft keyboard is visible */
@media screen and (max-aspect-ratio: 13/9) {
	.flex-center{
		height: 143vh;
	}
}
