body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, main, footer {
    padding-left: 300px;
}

.side-nav.blue-grey li a {
    color: rgb(180,180,180);
    padding-left:3em;
}

.side-nav li a:hover:not(#id_login):not(#id_logout) {
    background-color: #546e7a ;
    color: white;
    padding-left: calc( 3em - 5px );
    border-left: solid 5px rgb(23, 119, 203);
}

.side-nav li a:focus:not(#id_login):not(#id_logout) {
    border-left: solid 5px #1E88E5;
    color: white;
    padding-left: calc( 3em - 5px );
    background-color: #526c77;
}

.side-nav li a:active:not(#id_login):not(#id_logout) {
    color: white;
    border-left: solid 5px #1E88E5;
    padding-left: calc( 3em - 5px );
    background-color: #526c77;
}

/* ASSOCIATIONS
************************************************************/

#banner {
    height: 18vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        ".    .    ."
        ". logo-wr ."
        ".     .   .";
    background-size: cover;
    background-position-y: center;
}

#banner > .logo-wrapper{
    max-height: 100%;
    margin: auto;
    grid-area: logo-wr;
}

#banner > .logo-wrapper > img {
    display: flex;
    max-height: 12vh;
}

#name-asso{
    text-align: center;
}

#info-column, #desc-column, #event-column {
    padding: 0 5% 0 5%;
}

#info-asso-grid {
    display: grid;
    text-align: center;
    grid-template-columns : 1fr 2fr;
    grid-template-rows : 1fr 1fr;
    grid-template-areas:
        "infoColumn  descColumn "
        "eventColumn eventColumn";
}

#event-column {
    grid-column-end: -1;
    grid-column-start: 1;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }

    #info-asso-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-template-areas:
            "infoColumn"
            "descColumn"
            "eventColumn";
    }
}
